    /*========== GOOGLE FONTS ==========*/
    
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
    /*========== VARIABEIS CSS ==========*/
    
     :root {
        --first-hue: 250;
        --sat: 66%;
        --lig: 75%;
        --header-height: 3rem;
        /*========== CORES  ==========*/
        --hue-color: 250;
        /*========== HSL  ==========*/
        --primeira-cor: hsl(var(--hue-color), 69%, 61%);
        --primeira-cor-second: hsl(var(--hue-color), 69%, 61%);
        --primeira-cor-alt: hsl(var(--hue-color), 57%, 53%);
        --primeira-cor-lighter: hsl(var(--hue-color), 92%, 85%);
        --cor-titulo: hsl(var(--hue-color), 8%, 15%);
        --cor-texto: hsl(var(--hue-color), 8%, 45%);
        --cor-titulo-light: hsl(var(--hue-color), 8%, 65%);
        --cor-input: hsl(var(--hue-color), 70%, 96%);
        --cor-body: hsl(var(--hue-color), 60%, 99%);
        --cor-container: #fff;
        --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
        --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);
        /*========== FONTE E TIPOGRAFIA  ==========*/
        --body-font: 'Poppins', sans-serif;
        --fonte-grande: 2rem;
        --fonte-h1: 1.5rem;
        --fonte-h2: 1.25rem;
        --fonte-h3: 1.125rem;
        --fonte-normal: .938rem;
        --fonte-pequena: .813rem;
        --fonte-menor: .75rem;
        /*========== TAMANHO DA FONTE  ==========*/
        --fonte-media: 500;
        --fonte-semi-bold: 600;
        /*========== MARGENES BOTTONS  ==========*/
        --mb-0-25: .25rem;
        --mb-0-5: .5rem;
        --mb-0-75: .75rem;
        --mb-1: 1rem;
        --mb-1-5: 1.5rem;
        --mb-2: 2rem;
        --mb-2-5: 2.5rem;
        --mb-3: 3rem;
        /*========== Z-INDEX ==========*/
        --z-tooltrip: 10;
        --z-fixed: 100;
        --z-modal: 1000;
    }
    /*========== TAMANHO DA FONTE PARA GRANDES TELAS  ==========*/
    
    @media screen and (min-width:968px) {
         :root {
            --fonte-grande: 3rem;
            --fonte-h1: 2.25rem;
            --fonte-h2: 1.5rem;
            --fonte-h3: 1.25rem;
            --fonte-normal: 1rem;
            --fonte-pequena: .875rem;
            --fonte-menor: .813rem;
        }
    }
    /*========== Variables Dark Theme  ==========*/
    
    body.dark-theme {
        /*========== HSL  ==========*/
        --primeira-cor-second: hsl(var(--hue-color), 30%, 8%);
        --cor-titulo: hsl(var(--hue-color), 8%, 95%);
        --cor-texto: hsl(var(--hue-color), 8%, 75%);
        --cor-input: hsl(var(--hue-color), 29%, 16%);
        --cor-body: hsl(var(--hue-color), 28%, 12%);
        --cor-container: hsl(var(--hue-color), 29%, 16%);
        --scroll-bar-color: hsl(var(--hue-color), 12%, 48%);
        --scroll-thumb-color: hsl(var(--hue-color), 12%, 36%);
    }
    /*========== Button Dark/Light  ==========*/
    
    .nav__btns {
        display: flex;
        align-items: center;
    }
    
    .change-theme {
        font-size: 1.25rem;
        color: var(--cor-titulo);
        margin-right: var(--mb-1);
        cursor: pointer;
    }
    
    .change-theme:hover {
        color: var(--primeira-cor);
    }
    /*========== BASE  ==========*/
    
    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }
    
    html {
        scroll-behavior: smooth;
    }
    
    body {
        margin: 0 0 var(--header-height) 0;
        font-family: var(--body-font);
        font-size: var(--fonte-normal);
        background-color: var(--cor-body);
        color: var(--cor-texto);
    }
    
    h1,
    h2,
    h3,
    h4 {
        color: var(--cor-titulo);
        font-weight: var(--fonte-semi-bold);
    }
    
    ul {
        list-style: none;
    }
    
    a {
        text-decoration: none;
    }
    
    img {
        max-width: 100%;
        height: auto;
        display: block;
    }
    
    .home__img {
        width: 200px;
    }
    
    .home__handle {
        justify-self: center;
        width: 200px;
        height: 255px;
        background: linear-gradient(180deg, hsla(var(--first-hue), var(--sat), var(--lig), 1), hsla(var(--first-hue), var(--sat), var(--lig), .8));
        border-radius: 10rem 10rem 1rem 1rem;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }
    
    .section {
        padding: 2rem 0 4rem;
    }
    
    .section__title {
        font-size: var(--fonte-h1);
    }
    
    .section__subtitle {
        display: block;
        font-size: var(--fonte-pequena);
        margin-bottom: var(--mb-3);
    }
    
    .section__title,
    .section__subtitle {
        text-align: center;
    }
    /*========== LAYOUT  ==========*/
    
    .container {
        max-width: 768px;
        margin-left: var(--mb-1-5);
        margin-right: var(--mb-1-5);
    }
    
    .grid {
        display: grid;
        gap: 1.5rem;
    }
    
    .header {
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: var(--z-fixed);
        background-color: var(--cor-body);
    }
    
    button {
        text-decoration: none;
        border: none;
        font-family: var(--body-font);
        font-size: var(--fonte-media);
    }
    /*========== NAV ==========*/
    
    .nav {
        max-width: 968px;
        height: var(--header-height);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .nav__logo,
    .nav__toggle {
        color: var(--cor-titulo);
        font-weight: var(--fonte-media);
    }
    
    .nav__logo:hover {
        color: var(--primeira-cor);
    }
    
    .nav__toggle {
        font-size: 1.1rem;
        cursor: pointer;
    }
    
    .nav__toggle:hover {
        color: var(--primeira-cor);
    }
    
    @media screen and (max-width: 767px) {
        .nav__menu {
            position: fixed;
            bottom: -100%;
            left: 0;
            width: 100%;
            background-color: var(--cor-body);
            padding: 2rem 1.5rem 4rem;
            box-shadow: 0 -1px 4px rgba(0, 0, 0, .15);
            border-radius: 1.5rem 1.5rem 0 0;
            transition: .3s;
        }
    }
    
    .nav__list {
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
    
    .nav__link {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: var(--fonte-pequena);
        color: var(--cor-titulo);
        font-weight: var(--fonte-media);
    }
    
    .nav__link:hover {
        color: var(--primeira-cor);
    }
    
    .nav__icon {
        font-size: 1.2rem;
    }
    
    .nav__close {
        position: absolute;
        right: 1.3rem;
        bottom: .5rem;
        font-size: 1.5rem;
        cursor: pointer;
        color: var(--primeira-cor);
    }
    
    .nav__close:hover {
        color: var(--primeira-cor-alt);
    }
    
    .show-menu {
        bottom: 0;
    }
    /*========== ACTIVE LINK ==========*/
    
    .active-link {
        color: var(--primeira-cor);
    }
    /*========== SCROLL HEADER ==========*/
    
    .scroll-header {
        box-shadow: 0 -1px 4px rgba(0, 0, 0, .15);
    }
    /*========== HOME ==========*/
    
    .home__container {
        gap: 1rem;
    }
    
    .home__content {
        grid-template-columns: .5fr 3fr;
        padding-top: 3.2rem;
        align-items: center;
    }
    
    .home__social {
        display: grid;
        grid-template-columns: max-content;
        row-gap: 1rem;
    }
    
    .home__social-icon {
        font-size: 1.25rem;
        color: var(--primeira-cor);
    }
    
    .home__social-icon:hover {
        color: var(--primeira-cor-alt);
    }
    
    .home__blob {
        width: 200px;
        fill: var(--primeira-cor);
    }
    
    .home__data {
        grid-column: 1/3;
    }
    
    .home__title {
        font-size: var(--fonte-grande);
    }
    
    .home__subtitle {
        font-size: var(--fonte-h3);
        color: var(--cor-texto);
        font-weight: var(--fonte-media);
        margin-bottom: var(--mb-0-75);
    }
    
    .home__description {
        margin-bottom: var(--mb-2);
    }
    
    .home__scroll {
        display: none;
    }
    
    .home__scroll-button {
        color: var(--primeira-cor);
        transition: .3s;
    }
    
    .home__scroll-button:hover {
        transform: translateY(0.25rem);
    }
    
    .home__scroll-mouse {
        font-size: 2rem;
    }
    
    .home__scroll-name {
        font-size: var(--fonte-pequena);
        color: var(--cor-titulo);
        font-weight: var(--fonte-media);
        margin-right: var(--mb-0-25);
    }
    
    .home__scroll-arrow {
        font-size: 1.25rem;
    }
    /*========== BUTTON ==========*/
    
    .button {
        display: inline-block;
        background-color: var(--primeira-cor);
        color: #fff;
        padding: 1rem;
        border-radius: .5rem;
        font-weight: var(--fonte-media);
    }
    
    .button:hover {
        background-color: var(--primeira-cor-alt);
    }
    
    .button__icon {
        font-size: 1.25rem;
        margin-left: var(--mb-0-5);
        transition: .3s;
    }
    
    .button--flex {
        display: inline-flex;
        align-items: center;
    }
    
    .button--small {
        padding: .75rem 1rem;
    }
    
    .button--link {
        padding: 0;
        background-color: transparent;
        color: var(--primeira-cor);
    }
    
    .button--link:hover {
        background-color: transparent;
        color: var(--primeira-cor-alt);
    }
    /*========== SOBRE ==========*/
    
    .sobre__img {
        width: 230px;
        border-radius: .5rem;
        justify-self: center;
        align-self: center;
    }
    
    .sobre__description {
        text-align: center;
        margin-bottom: var(--mb-2-5);
    }
    
    .sobre__info {
        display: flex;
        justify-content: space-evenly;
        margin-bottom: var(--mb-2-5);
    }
    
    .sobre__info-title {
        font-size: var(--fonte-h2);
        font-weight: var(--fonte-semi-bold);
        color: var(--cor-titulo);
    }
    
    .sobre__info-name {
        font-size: var(--fonte-menor);
    }
    
    .sobre__info-title,
    .sobre__info-name {
        display: block;
        text-align: center;
    }
    
    .sobre__buttons {
        display: flex;
        justify-content: center;
    }
    /*========== SKILLS ==========*/
    
    .skills__container {
        row-gap: 0;
    }
    
    .skills__header {
        display: flex;
        align-items: center;
        margin-bottom: var(--mb-2-5);
        cursor: pointer;
    }
    
    .skills__icon,
    .skills__arrow {
        font-size: 2rem;
        color: var(--primeira-cor);
    }
    
    .skills__icon {
        margin-right: var(--mb-0-75);
    }
    
    .skills__title {
        font-size: var(--fonte-h3);
    }
    
    .skills__subtitle {
        font-size: var(--fonte-pequena);
        color: var(--cor-texto);
    }
    
    .skills__arrow {
        margin-left: auto;
        transition: .4s;
    }
    
    .skills__list {
        row-gap: 1.5rem;
        padding-left: 2.7rem;
    }
    
    .skills__titles {
        display: flex;
        justify-content: space-between;
        margin-bottom: var(--mb-0-5);
    }
    
    .skills__name {
        font-size: var(--fonte-normal);
        font-weight: var(--fonte-media);
    }
    
    .skills__bar,
    .skills__porcentagem {
        height: 5px;
        border-radius: .25rem;
    }
    
    .skills__bar {
        background-color: var(--primeira-cor-lighter);
    }
    
    .skills__porcentagem {
        display: block;
        background-color: var(--primeira-cor);
    }
    
    .skills__html {
        width: 80%;
    }
    
    .skills__css {
        width: 70%;
    }
    
    .skills__js {
        width: 50%;
    }
    
    .skills__boot {
        width: 85%;
    }
    
    .skills__sweet {
        width: 70%;
    }
    
    .skills__php {
        width: 30%;
    }
    
    .skills__py {
        width: 35%;
    }
    
    .skills__figma {
        width: 80%;
    }
    
    .skills__photo {
        width: 75%;
    }
    
    .skills__close .skills__list {
        height: 0;
        overflow: hidden;
    }
    
    .skills__open .skills__list {
        height: max-content;
        margin-bottom: var(--mb-2-5);
    }
    
    .skills__open .skills__arrow {
        transform: rotate(-180deg);
    }
    /*========== QUALIFICATIONS ==========*/
    
    .qualification__tabs {
        display: flex;
        justify-content: space-evenly;
        margin-bottom: var(--mb-2);
    }
    
    .qualification__button {
        font-size: var(--fonte-h3);
        font-weight: var(--fonte-media);
        cursor: pointer;
    }
    
    .qualification__button:hover {
        color: var(--primeira-cor);
    }
    
    .qualification__icon {
        font-size: 1.8rem;
        margin-right: var(--mb-0-25);
    }
    
    .qualification__data {
        display: grid;
        grid-template-columns: 1fr max-content 1fr;
        column-gap: 1.5rem;
    }
    
    .qualification__title {
        font-size: var(--fonte-normal);
        font-weight: var(--fonte-media);
    }
    
    .qualification__subtitle {
        display: inline-block;
        font-size: var(--fonte-pequena);
        margin-bottom: var(--mb-1);
    }
    
    .qualification__calendar {
        font-size: var(--fonte-menor);
        color: var(--cor-titulo-light);
    }
    
    .qualification__rounder {
        display: inline-block;
        width: 13px;
        height: 13px;
        background-color: var(--primeira-cor);
        border-radius: 50%;
    }
    
    .qualification__line {
        display: block;
        width: 1px;
        height: 100%;
        background-color: var(--primeira-cor);
        transform: translate(6px, -7px);
    }
    
    .qualification [data-content] {
        display: none;
    }
    
    .qualification__active[data-content] {
        display: block;
    }
    
    .qualification__button.qualification__active {
        color: var(--primeira-cor);
    }
    /*========== SERVICES ==========*/
    
    .services__container {
        gap: 1.5rem;
        grid-template-columns: repeat(2, 1fr);
    }
    
    .services__content {
        position: relative;
        background-color: var(--cor-container);
        padding: 3.5rem .5rem 1.25rem 1.5rem;
        border-radius: .25rem;
        box-shadow: 0 2px 4px rgba(0, 0, 0, .15);
        transition: .3s;
    }
    
    .services__content:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, .15);
    }
    
    .services__icon {
        display: block;
        font-size: 1.5rem;
        color: var(--primeira-cor);
        margin-bottom: var(--mb-1);
    }
    
    .services__title {
        font-size: var(--fonte-h3);
        margin-bottom: var(--mb-1);
        font-weight: var(--fonte-media);
    }
    
    .services__button {
        cursor: pointer;
        font-size: var(--fonte-pequena);
    }
    
    .services__button:hover .button__icon {
        transform: translateX(.25rem);
    }
    
    .services__modal {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, .5);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 1rem;
        z-index: var(--z-modal);
        opacity: 0;
        visibility: hidden;
        transition: .3s;
    }
    
    .services__modal-content {
        position: relative;
        background-color: var(--cor-container);
        padding: 1.5rem;
        border-radius: .5rem;
    }
    
    .services__modal-services {
        row-gap: 1rem;
    }
    
    .services__modal-service {
        display: flex;
    }
    
    .services__modal-title {
        font-size: var(--fonte-h3);
        font-weight: var(--fonte-media);
        margin-bottom: var(--mb-1-5);
    }
    
    .services__modal-close {
        position: absolute;
        top: 1rem;
        right: 1rem;
        font-size: 1.5rem;
        color: var(--primeira-cor);
        cursor: pointer;
    }
    
    .services__modal-icon {
        color: var(--primeira-cor);
        margin-right: var(--mb-0-25);
    }
    /*========== ACTIVE MODAL ==========*/
    
    .active-modal {
        opacity: 1;
        visibility: visible;
    }
    /*========== PORTFOLIO ==========*/
    
    .portfolio__container {
        overflow: initial;
    }
    
    .portfolio__content {
        padding: 0 1.5rem;
    }
    
    .portfolio__img {
        width: 265px;
        border-radius: .5rem;
        justify-self: center;
    }
    
    .portfolio__title {
        font-size: var(--fonte-h3);
        margin-bottom: var(--mb-0-5);
    }
    
    .portfolio__description {
        margin-bottom: var(--mb-0-75);
    }
    
    .portfolio__button:hover .button__icon {
        transform: translateX(.25rem);
    }
    
    .swiper-button-prev::after,
    .swiper-button-next::after {
        content: '';
    }
    
    .swiper-portfolio-icon {
        font-size: 2rem;
        color: var(--primeira-cor);
    }
    
    .swiper-button-prev {
        left: -.5rem;
    }
    
    .swiper-button-next {
        right: -.5rem;
    }
    
    .swiper-container-horizontal>.swiper-pagination-bullets {
        bottom: -2.5rem;
    }
    
    .swiper-pagination-bullet-active {
        background-color: var(--primeira-cor);
    }
    
    .swiper-button-next,
    .swiper-button-prev,
    .swiper-pagination-bullet {
        outline: none;
    }
    /*========== CONTATE-ME ==========*/
    
    .contact__container {
        row-gap: 3rem;
    }
    
    .contact__information {
        display: flex;
        margin-bottom: var(--mb-2);
    }
    
    .contact__icon {
        font-size: 2rem;
        color: var(--primeira-cor);
        margin-right: var(--mb-0-75);
    }
    
    .contact__title {
        font-size: var(--fonte-h3);
        font-weight: var(--fonte-media);
    }
    
    .contact__subtitle {
        font-size: var(--fonte-pequena);
        color: var(--primeira-cor-lighter);
    }
    
    .contact__content {
        background-color: var(--cor-input);
        border-radius: .5rem;
        padding: .75rem 1rem .25rem;
    }
    
    .contact__label {
        font-size: var(--fonte-menor);
        color: var(--cor-titulo);
    }
    
    .contact__input {
        width: 100%;
        background-color: var(--cor-input);
        color: var(--cor-texto);
        font-family: var(--body-font);
        font-size: var(--fonte-normal);
        border: none;
        outline: none;
        padding: .25rem .5rem .5rem 0;
    }
    /*========== FOOTER ==========*/
    
    .footer {
        padding-top: 2rem;
    }
    
    .footer__container {
        row-gap: 3.5rem;
    }
    
    .footer__bg {
        background-color: var(--primeira-cor-second);
        padding: 2rem 0 1rem;
    }
    
    .footer__title {
        font-size: var(--fonte-h1);
        margin-bottom: var(--mb-0-25);
    }
    
    .footer__subtitle {
        font-size: var(--fonte-pequena);
    }
    
    .footer__links {
        display: flex;
        flex-direction: column;
        row-gap: 1.5rem;
    }
    
    .footer__link:hover {
        color: var(--primeira-cor-lighter);
    }
    
    .footer__social {
        font-size: 1.25rem;
        margin-right: var(--mb-1-5);
    }
    
    .footer__social:hover {
        color: var(--primeira-cor-lighter);
    }
    
    .footer__copy {
        font-size: var(--fonte-menor);
        text-align: center;
        color: var(--cor-titulo-light);
        margin-top: var(--mb-3);
    }
    
    .footer__title,
    .footer__subtitle,
    .footer__link,
    .footer__social {
        color: #fff;
    }
    /*========== SCROLL UP ==========*/
    
    .scrollup {
        position: fixed;
        right: 1rem;
        bottom: -20%;
        background-color: var(--primeira-cor);
        opacity: .8;
        padding: 0 .3rem;
        border-radius: .4rem;
        z-index: var(--z-tooltrip);
        transition: .4s;
    }
    
    .scrollup:hover {
        background-color: var(--primeira-cor-alt);
    }
    
    .scrollup__icon {
        font-size: 1.5rem;
        color: #fff;
    }
    /*========== SHOW SCROLL ==========*/
    
    .show-scroll {
        bottom: 5rem;
    }
    /*========== SCROLL BAR ==========*/
    
     ::-webkit-scrollbar {
        width: .60rem;
        background-color: var(--scroll-bar-color);
        border-radius: .5rem;
    }
    
     ::-webkit-scrollbar-thumb {
        background-color: var(--scroll-thumb-color);
        border-radius: .5rem;
    }
    
     ::-webkit-scrollbar-thumb:hover {
        background-color: var(--cor-titulo-light);
    }
    /*========== MEDIA QUERIES ==========*/
    /*========== TELAS MÉDIAS ==========*/
    
    @media screen and (min-width: 568px) {
        .home__content {
            grid-template-columns: max-content 1fr 1fr;
        }
        .home__data {
            grid-column: initial;
        }
        .home__handle {
            order: 1;
            justify-self: center;
        }
        .sobre__container,
        .skills__container,
        .portfolio__content,
        .contact__container,
        .footer__container {
            grid-template-columns: repeat(2, 1fr);
        }
        .qualification__sections {
            display: grid;
            grid-template-columns: .6fr;
            justify-content: center;
        }
        .portfolio__img {
            width: 160px;
        }
    }
    
    @media screen and (min-width: 768px) {
        .container {
            margin-left: auto;
            margin-right: auto;
        }
        body {
            margin: 0;
        }
        .section {
            padding: 6rem 0 2rem;
        }
        .section__subtitle {
            margin-bottom: 4rem;
        }
        .header {
            top: 0;
            bottom: initial;
        }
        .header,
        .main,
        .footer__container {
            padding: 0 1rem;
        }
        .nav {
            height: calc(var(--header-height) + 1.5rem);
            column-gap: 1rem;
        }
        .nav__icon,
        .nav__close,
        .nav__toggle {
            display: none;
        }
        .nav__list {
            display: flex;
            column-gap: 2rem;
        }
        .nav__menu {
            margin-left: auto;
        }
        .change-theme {
            margin: 0;
        }
        .home__container {
            row-gap: 5rem;
        }
        .home__content {
            padding-top: 2rem;
            column-gap: 2rem;
        }
        .home__handle {
            width: 250px;
            height: 320px;
        }
        .home__img {
            width: 320px;
            height: auto;
        }
        .home__scroll {
            display: block;
        }
        .home__scroll-button {
            margin-left: 3rem;
        }
        .sobre__container {
            column-gap: 5rem;
        }
        .sobre__img {
            width: 260px;
        }
        .sobre__description {
            text-align: initial;
        }
        .sobre__info {
            justify-content: space-between;
        }
        .sobre__buttons {
            justify-content: initial;
        }
        .qualification__tabs {
            justify-content: center;
        }
        .qualification__button {
            margin: 0 var(--mb-1);
        }
        .qualification__sections {
            grid-template-columns: .5fr;
        }
        .services__container {
            grid-template-columns: repeat(3, 218px);
            justify-content: center;
        }
        .services__icon {
            font-size: 2rem;
        }
        .services__content {
            padding: 6rem 0 2rem 2.5rem;
        }
        .services__modal-content {
            width: 450px;
        }
        .portfolio__img {
            width: 260px;
        }
        .portfolio__content {
            align-items: center;
        }
        .footer__container {
            grid-template-columns: repeat(3, 1fr);
        }
        .footer__bg {
            padding: 3rem 0 1.5rem;
        }
        .footer__links {
            flex-direction: row;
            column-gap: 2rem;
        }
        .footer__socials {
            justify-self: flex-end;
        }
    }
    /*========== TELAS GRANDES ==========*/
    
    @media screen and (min-width: 1024px) {
        .header,
        .main,
        .footer__container {
            padding: 0;
        }
        .home__handle {
            width: 320px;
            height: 340px;
        }
        .home__img {
            width: auto;
            height: auto;
        }
        .home__social {
            transform: translateX(-6rem);
        }
        .home__title {
            font-size: var(--fonte-h1);
        }
        .services__container {
            grid-template-columns: repeat(3, 238px);
        }
        .portfolio__content {
            column-gap: 5rem;
        }
        .swiper-portfolio-icon {
            font-size: 3.5rem;
        }
        .swiper-button-prev {
            left: -3.5em;
        }
        .swiper-button-next {
            right: -3.5em;
        }
        .swiper-container-horizontal>.swiper-pagination-bullets {
            bottom: -4.5rem;
        }
        .contact__form {
            width: 460px;
        }
        .contact__inputs {
            grid-template-columns: repeat(2, 1fr);
        }
    }